<div fxLayout="column" fxLayoutAlign="center center" class='px-300'>
  <mat-card class='w-100-p p-48 m-56'>


    <form class="example-form" fxLayout="column"
          fxLayoutAlign="center center" [formGroup]="admissionInfoData">
      <mat-form-field>
        <input matInput formControlName="universityName" placeholder="University Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="unitName" placeholder="Unit Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="applicationStarts" placeholder="Application starts">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="applicationEnds" placeholder="Application ends">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="examDate" placeholder="Exam Date">
      </mat-form-field>

      <mat-form-field>
        <input type="number" formControlName="totalFees" matInput placeholder="Total fees">
      </mat-form-field>

      <h3 class="mat-h2">Admission Notice</h3>

      <mat-form-field>
        <input type="url" formControlName="officialNoticeLink" matInput placeholder="Official notice link">
      </mat-form-field>

      <h3 class="mat-h2"> General Requirements</h3>

      <mat-form-field>
        <input type="number" formControlName="minimumCGPA" matInput placeholder="Minimum CGPA">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="hscPassingYear" placeholder="HSC Passing year">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="sscPassingYear" placeholder="SSC Passing year">
      </mat-form-field>


      <h3 class="mat-h2">Important Links</h3>

      <mat-form-field>
        <input type="url" formControlName="admitCardLink" matInput placeholder="Admit card link">
      </mat-form-field>


      <mat-form-field>
        <input type="url" formControlName="seatPlanLink" matInput placeholder="Seat Plan">
      </mat-form-field>


      <mat-form-field>
        <input type="url" formControlName="meritListLink" matInput placeholder="Merit List">
      </mat-form-field>

      <button mat-button mat-raised-button color="primary" (click)="routeToAdmissionInfoList()">Upload</button>

    </form>
  </mat-card>
</div>
