<h1>{{singleItem.universityName}}</h1>
<h3>{{singleItem.unitName}}.</h3>

<h2>Important Dates</h2>

<p>Application starts:{{singleItem.applicationStarts}}</p>
<p>Application ends:{{singleItem.applicationEnds}}</p>
<p>Seat plan deadlines:{{singleItem.seatPlanDeclaration}}</p>
<p>Merit list declaration:{{singleItem.meritListDeclaration}}</p>
<p>Exam time:{{singleItem.examTime}}</p>

<h2>Admission Notice</h2>

<iframe>{{singleItem.officialNoticeLink}}</iframe>
<a>{{singleItem.officialNoticeLink}}</a>

<h2>Requirements</h2>

<p>Minimumn CGPA:{{singleItem.minimumCGPA}}</p>
<p>HSC passing year:{{singleItem.hscPassingYear}}</p>
<p>Extra requirements:{{singleItem.extraRequirements}}</p>

<h2>Application Process</h2>

<p>Total fees:{{singleItem.totalFees}}</p>
<a>{{singleItem.applicationLink}}</a>

<h2>Admit cast download</h2>

<a>{{singleItem.admitCardLink}}</a>
