<mat-sidenav-container class="sidenav-container " autosize>
  <mat-sidenav #drawer [ngClass]="isExpanded ? 'sidenav-opened' : 'sidenav-closed' "
               [opened]="(isHandset$ | async) === false" [mode]="(isHandset$ | async) ? 'side' : 'side'">

    <mat-toolbar *ngIf="isExpanded" fxLayout="row" fxLayoutAlign="space-between center" class="white-color-foreground">
      <div>{{title}}</div>

      <div>
        <button mat-mini-fab color='white' mat-icon-button (click)="isExpanded = !isExpanded">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <mat-toolbar *ngIf="!isExpanded" fxLayout="row" fxLayoutAlign="space-between center" class="white-color-foreground">

      <div>
        <button mat-mini-fab color='warn' mat-icon-button [disabled]=" demo" (click)="isExpanded = !isExpanded" class='mt-8'>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>


    <mat-nav-list *ngIf='isExpanded && sidebar' class="white-color-foreground mt-16">
      <div *ngFor="let content of sidebar;let i = index">

        <mat-list-item (click)="route(content.url) ; selectRow(i)" [class.active]="i == selectedRow"
                       class="cursor-pointer px-24 font-size-16 ">
          <i class="material-icons-outlined mr-16">
            {{content.icon}}
          </i>

          <span> {{content.name}}</span>

        </mat-list-item>
      </div>
    </mat-nav-list>

    <mat-nav-list *ngIf='!isExpanded && sidebar' class="white-color-foreground mt-16">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
        <div *ngFor="let content of sidebar;let i = index">

          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-mini-fab color='white' (click)="route(content.url); selectRow(i)"
                    [class.active]="i == selectedRow" class="cursor-pointer white-color-background">
              <i
              class="material-icons-outlined ">
              {{content.icon}}
            </i></button>

          </div>
          <div fxLayout="row" fxLayoutAlign="center center" class='black-color-foreground font-size-12 mt-4'>
            {{content.mini_name}}
          </div>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary" class="h-76 w-100-p ">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" class="w-100-p">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
          <div >

<!--            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">-->
<!--              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>-->
<!--            </button>-->
          </div>
<!--          <div class='cursor-pointer'>-->
<!--            <span *ngIf="!drawer.opened">DUPAY</span>-->
<!--            <div *ngIf="drawer.opened" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">-->
<!--              <div>DUPAY</div>-->
<!--          <img src="../../../assets/Admission_3.png"  alt="Italian Trulli">-->
          <p class="bold  m-0" >ADMISSION HELP DESK AND MOCK TEST</p>

<!--            </div>-->

<!--          </div>-->
        </div>
        <!-- [matMenuTriggerFor]="menu" -->
<!--        <div [matMenuTriggerFor]="menu" *ngIf='isAuthenticated' fxLayout="row" fxLayoutAlign="center center"-->
<!--             class="mr-64">-->

<!--          &lt;!&ndash; (click)='route(Username.url)' &ndash;&gt;-->
<!--          <button mat-button class="font-size-16">{{Username}} <i class="material-icons">-->
<!--            keyboard_arrow_down-->
<!--          </i></button>-->

<!--          <mat-menu #menu="matMenu" class="w-180 mt-16">-->
<!--            <button mat-menu-item>-->
<!--              <div (click)="route(menuItems.profile.url)">{{menuItems.profile.name}}</div>-->
<!--            </button>-->
<!--            <button mat-menu-item>-->
<!--              <div (click)="logout()">{{menuItems.logout.name}}</div>-->
<!--            </button>-->
<!--          </mat-menu>-->
<!--        </div>-->
        <div [matMenuTriggerFor]="menu"  fxLayout="row" fxLayoutAlign="center center"
             class="mr-64">

          <!-- (click)='route(Username.url)' -->
          <button mat-button class="font-size-16"> <i class="material-icons-outlined cursor-pointer">
            settings
          </i></button>

        <mat-menu #menu="matMenu" class="w-80 mt-16 primary-background-color ">
          <button mat-menu-item *ngIf='!isLoggedIn' (click)='routeToLogIn()'>
            <div class="white">Log in</div>
          </button>
          <button mat-menu-item *ngIf='isLoggedIn' (click)='routeToLogOut()'>
            <div class="white">Log out</div>
          </button>
        </mat-menu>
        </div>
<!--        <div *ngIf='!isLoggedIn' (click)='routeToLogIn()' fxLayout="row" fxLayoutAlign="center center" class="mr-64">-->
<!--          <mat-icon class="material-icons-outlined cursor-pointer">-->
<!--            settings-->
<!--          </mat-icon>-->
<!--          <button mat-button class="font-size-16">Log in</button>-->
<!--        </div>-->
<!--        <div *ngIf='isLoggedIn' (click)='routeToLogOut()' fxLayout="row" fxLayoutAlign="center center" class="mr-64">-->
<!--          <mat-icon class="material-icons-outlined cursor-pointer">-->
<!--            settings-->
<!--          </mat-icon>-->
<!--          <button mat-button class="font-size-16">Log out</button>-->
<!--        </div>-->
      </div>




    </mat-toolbar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>


<!--<mat-sidenav-container class="sidenav-container">-->
<!--  <mat-sidenav #drawer class="sidenav" fixedInViewport-->
<!--      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"-->
<!--      [mode]="(isHandset$ | async) ? 'over' : 'side'"-->
<!--      [opened]="(isHandset$ | async) === false">-->
<!--    <mat-toolbar>Menu</mat-toolbar>-->
<!--    &lt;!&ndash; <mat-nav-list>-->
<!--      <a mat-list-item href="#">Link 1</a>-->
<!--      <a mat-list-item href="#">Link 2</a>-->
<!--      <a mat-list-item href="#">Link 3</a>-->
<!--    </mat-nav-list> &ndash;&gt;-->
<!--    <mat-nav-list  class="white-color-foreground">-->
<!--      <div *ngFor="let content of [1,2,2,2,2,2,2,2,2];let i = index">-->

<!--        <mat-list-item  [class.active]="i == selectedRow"-->
<!--          class="cursor-pointer px-24 font-size-16 ">-->
<!--          <i class="material-icons">-->
<!--            highlight_off-->
<!--          </i>-->
<!--          <span> Search</span>-->

<!--        </mat-list-item>-->
<!--      </div>-->
<!--    </mat-nav-list>-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content>-->
<!--    <mat-toolbar color="primary">-->
<!--      <button-->
<!--        type="button"-->
<!--        aria-label="Toggle sidenav"-->
<!--        mat-icon-button-->
<!--        (click)="drawer.toggle()"-->
<!--        *ngIf="isHandset$ | async">-->
<!--        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>-->
<!--      </button>-->
<!--      <span>admission-notice-and-mock-test</span>-->
<!--      <a *ngIf="!this.isLoggedIn" (click)="routeToLogIn()">login</a>-->
<!--      <a *ngIf="!this.isLoggedIn" (click)="routeToSignUp()">Sign up</a>-->
<!--      <a *ngIf="this.isLoggedIn" (click)="routeToLogOut()">Log out</a>-->
<!--    </mat-toolbar>-->
<!--    <router-outlet></router-outlet>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
