th{
  width: 50%;
  align-items: center;
  //text-align: center !important;
}
td{
  width: 50%;
  //text-align: center !important;

}
tr:hover {
  background-color: #e3e4ec;
  cursor: pointer;

}
button{
  background-color: #0d47a1;
    font-size: 22px;

    position: relative;
    margin: 27px;
    width: 250px;
    height: 46px;
    border-radius: 9px;
  color: white;

}
