<div fxLayout="row" >
  <div fxFlex="50">
    <mat-card class="example-card " >

        <mat-toolbar  class="primary-background-color">
          <mat-card-title>Admission Information</mat-card-title>
        </mat-toolbar>

      <mat-card-content *ngFor="let i of [1,2]">
        <mat-card-title>University name</mat-card-title>
        <mat-card-subtitle>Unit name</mat-card-subtitle>
        <p class="p-18">
          Application Starts:
        </p>
        <p>
          Application Starts:
        </p>
        <p>
          Application Starts:
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Details</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxLayout="column" fxFlex="50">
    <div fxFlex="50">
      <mat-card class="p-0">
        <!-- <mat-card-header> -->
        <mat-toolbar color="primary">
          <mat-toolbar-row>
                        <span>
                            <mat-card-title>Dupay Features</mat-card-title>
                        </span>
          </mat-toolbar-row>
        </mat-toolbar>

        <!-- </mat-card-header> -->

        <mat-card-content>
                kkkkkk
        </mat-card-content>
        <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
    </mat-card-actions> -->
      </mat-card>
    </div>
    <div fxFlex="50">
      <mat-card class="p-0">
        <!-- <mat-card-header> -->
        <mat-toolbar color="primary">
          <mat-toolbar-row>
                        <span>
                            <mat-card-title>Dupay Features</mat-card-title>
                        </span>
          </mat-toolbar-row>
        </mat-toolbar>

        <!-- </mat-card-header> -->

        <mat-card-content>
          kkkkkk
        </mat-card-content>
        <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
    </mat-card-actions> -->
      </mat-card>
    </div>
  </div>


</div>

