<div fxLayoutAlign="center center">
  <mat-card class="m-48 mat-elevation-z8 w-40-p h-260"
            fxLayoutAlign="center center">
    <div *ngIf="!this.process" class="w-60-p">
      <form class="example-form" fxLayout="column"
            fxLayoutAlign="center center" [formGroup]="fileUploadForm"
      >
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Number of questions</mat-label>
          <input matInput
                 formControlName="questionSize" type="number" placeholder="Number of questions">
          <mat-error
            *ngIf="fileUploadForm.get('questionSize').errors?.required &&
                   fileUploadForm.get('questionSize').touched">
            Required Field
          </mat-error>
        </mat-form-field>
        <mat-form-field  class="example-full-width" appearance="outline">
          <mat-label>Number of questions each difficulty</mat-label>
          <input matInput
                 formControlName="numberOfQuestion" type="number"
                 placeholder="Number of questions each difficulty">

          <mat-error
            *ngIf="fileUploadForm.get('numberOfQuestion').errors?.required &&
                   fileUploadForm.get('numberOfQuestion').touched">
            Required Field
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary"
                [disabled]="!fileUploadForm.valid" (click)='onSubmit()'>Next</button>
      </form>
    </div>


    <div *ngIf="this.process" fxLayoutAlign="center center">
      <form [formGroup]="fileForm" fxLayoutAlign="center center">
        <div>
          <input mat-button mat-raised-button  formControlName="file"
                 style="display: inline-block;"  type="file"
                 (change)="onFileChange($event)" placeholder="Upload file" accept=".xlsx">
          <mat-error
            *ngIf="fileForm.get('file').errors?.required &&
                   fileForm.get('file').touched">
            Required Field
          </mat-error>
        </div>


        <button mat-raised-button color="primary"
                [disabled]="!fileForm.valid" (click)='upload()'>Upload</button>
      </form>

    </div>

  </mat-card>
</div>



<!--<input type="file" style="display: inline-block;"-->
<!--       (change)="onFileChange($event)" placeholder="Upload file" accept=".xlsx">-->
<!--<div fxLayout=row fxLayoutAlign="end column">-->
<!--  <button (click)='questionUpload()' mat-button>Upload</button>-->
<!--</div>-->






<!--<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
<!--<div class="file-upload">-->
<!--  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>-->

<!--  <div class="image-upload-wrap">-->
<!--    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />-->
<!--    <div class="drag-text">-->
<!--      <h3>Drag and drop a file or select add Image</h3>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="file-upload-content">-->
<!--    <img class="file-upload-image" src="#" alt="your image" />-->
<!--    <div class="image-title-wrap">-->
<!--      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->





<!--<div>-->

<!--  <mat-form-field>-->
<!--    <mat-label>Favorite food</mat-label>-->
<!--    <mat-select>-->
<!--      <mat-option  *ngFor="let questionPaper of questionPapers" (click)="press(questionPaper)">-->
<!--        {{questionPaper.payload.doc.data().question1.statements}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--</div>-->

