<!--<input type="file" style="display: inline-block;"-->
<!--       (change)="onFileChange($event)" placeholder="Upload file" accept=".xlsx">-->
<!--<div fxLayout=row fxLayoutAlign="end column">-->
<!--  <button (click)='questionUpload()' mat-button>Upload</button>-->
<!--</div>-->

<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="file-upload">
  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
    <div class="drag-text">
      <h3>Drag and drop a file or select add Image</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
    </div>
  </div>
</div>

<!--<div>-->

<!--  <mat-form-field>-->
<!--    <mat-label>Favorite food</mat-label>-->
<!--    <mat-select>-->
<!--      <mat-option  *ngFor="let questionPaper of questionPapers" (click)="press(questionPaper)">-->
<!--        {{questionPaper.payload.doc.data().question1.statements}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--</div>-->

