//button{
//  background-color: #0d47a1;
//  font-size: 22px;
//
//  position: relative;
//  margin: 27px;
//  width: 250px;
//  height: 46px;
//  border-radius: 9px;
//  color: white;
//}

body {
  font-family: sans-serif;
  background-color: #eeeeee;
}
#yourBtn {
  position: relative;
  top: 150px;
  font-family: calibri;
  width: 150px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px dashed #BBB;
  text-align: center;
  background-color: #DDD;
  cursor: pointer;
}
