<mat-card>
  <form class="example-form" fxLayout="column"
        fxLayoutAlign="center center" [formGroup]="fileUploadForm"
        >
    <mat-form-field class="example-full-width">
      <input matInput
             formControlName="questionSize" type="number" placeholder="Question Size">
    </mat-form-field>
    <mat-form-field  class="example-full-width">
      <input matInput
             formControlName="numberOfQuestion" type="number"
             placeholder="Number of questions each difficulty">
    </mat-form-field>
    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>

    <input type = 'hidden'
           (change)="onFileSelected($event)" #fileInput type="file" id="file" accept=".xlsx">
      <input mat-button mat-raised-button
        style="display: inline-block;" formControlName="fileInfo" type="file"
             (change)="onFileChange($event)" placeholder="Upload file" accept=".xlsx">
    <label for="file-upload" class="custom-file-upload">
      Custom Upload
    </label>
    <input id="file-upload" type="file"/>


    <button mat-raised-button color="primary" [disabled]="!fileUploadForm.valid" (click)='onSubmit()'>Upload</button>
  </form>
</mat-card>

<form action="#type your action here" method="POST" enctype="multipart/form-data" name="myForm">
  <div id="yourBtn" onclick="getFile()">click to upload a file</div>
  <!-- this is your file input tag, so i hide it!-->
  <!-- i used the onchange event to fire the form submission-->
  <div style='height: 0px;width: 0px; overflow:hidden;'><input id="upfile" type="file" value="upload" onchange="sub(this)" /></div>
  <!-- here you can have file submit button or you can write a simple script to upload the file automatically-->
  <!-- <input type="submit" value='submit' > -->
</form>
<!--<input type="file" style="display: inline-block;"-->
<!--       (change)="onFileChange($event)" placeholder="Upload file" accept=".xlsx">-->
<!--<div fxLayout=row fxLayoutAlign="end column">-->
<!--  <button (click)='questionUpload()' mat-button>Upload</button>-->
<!--</div>-->






<!--<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
<!--<div class="file-upload">-->
<!--  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>-->

<!--  <div class="image-upload-wrap">-->
<!--    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />-->
<!--    <div class="drag-text">-->
<!--      <h3>Drag and drop a file or select add Image</h3>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="file-upload-content">-->
<!--    <img class="file-upload-image" src="#" alt="your image" />-->
<!--    <div class="image-title-wrap">-->
<!--      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->





<!--<div>-->

<!--  <mat-form-field>-->
<!--    <mat-label>Favorite food</mat-label>-->
<!--    <mat-select>-->
<!--      <mat-option  *ngFor="let questionPaper of questionPapers" (click)="press(questionPaper)">-->
<!--        {{questionPaper.payload.doc.data().question1.statements}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--</div>-->

